<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projectDemo27.Properties.Settings.Demo27_1ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Demo27.1;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>